

.popUpContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
 display: flex;
  align-items: center;
justify-content: center;
  z-index: 10;

  pointer-events: none;
}

  .modal {
    width :200px;
    height :100px;

    background-color: var(--color-black);
    color:var(--color-border-white);

    border-radius: 10px;
    border:3px var(--color-border-white)  solid;

    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pointer-events: auto;

  }


  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }


  .modal > .close {
    cursor: pointer;
    width: 70px;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }