

.formContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    color: var(--color-font-white);
    pointer-events: none;
    background-color: var(--color-black);
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
   height: 200px;
    width: 100%;
    pointer-events: auto;

    border-top: 3px var(--color-border-white)  solid;
    border-bottom: 3px var(--color-border-white)  solid;
    background-color: var(--color-purple);
}